@import "nav.css";
@import "footer.css";
@import "main.css";

.titulo {
    background-color: #ffffff;
    padding-top: 100px;
    padding-left: 20px;
}
.conteudo {
    background-color: #ffffff;
    float: left;
    padding-top: 20px;
    padding-bottom: 60px;
}
section {
    width: 70%;
}
aside {
    color: #ffffff;
    float: right;
    padding-left: 10px;
    width: 30%;
  }