nav .containernav {
    align-items: center;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    padding: 20px;
    background-color: #000000;
}

nav .menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
@media (max-width: 599px) {
    .containernav {
        flex-direction: column;
    }
}